---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Level Up, Founders - Blog for Founders learning 24/7',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Level Up Blog"
    information={`Hey! It's Raymel! I'm coding for ${new Date().getFullYear() - 2012} years.<br/><br/>I write about my current endeavors, as a programmer levelling his way up in entrepreneurship.<br/><br/>In this blog, I will share my monthly learnings as I build my online businesses. The newsletter will contain weekly curated news in current tech trends like AI.<br/><br/>Join the Newsletter to not miss any of my content!`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
